@import '@/uni_modules/uni-scss/variables.scss';

$uni-primary: #2979ff;
$uni-primary-disable:#94bcff;
$uni-primary-light: #d4e4ff;

button[type="primary"] {
    background:#2979ff !important;
}

.uni-tabbar{
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}